<div class="row mt-4">
    <div class="col">
        <div ngbDropdown>
            <span class="d-flex justify-content-start align-items-center p-2 border rounded" id="project-dropdown"
                ngbDropdownToggle>
                <img [src]="['/assets/signin-thumbnail.jpg']" class="rounded thumbnail mr-2" alt="Login Thumbnail">
                <b>Sylvion Inc. </b>
            </span>
            <div ngbDropdownMenu aria-labelledby="project-dropdown" class="py-0 border-bottom-0">
                <span ngbDropdownItem class="d-flex justify-content-start align-items-center p-2 border-bottom">
                    <img [src]="['/assets/signin-thumbnail.jpg']" class="rounded thumbnail mr-2" alt="Login Thumbnail">
                    <b>Sylvion Inc. </b>
                </span>
                <span ngbDropdownItem class="d-flex justify-content-start align-items-center p-2 border-bottom">
                    <img [src]="['/assets/signin-thumbnail.jpg']" class="rounded thumbnail mr-2" alt="Login Thumbnail">
                    <b>Sylvion Inc. </b>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col gx-1 bg-light pt-3">
        <h6 class="ml-2">Backlog</h6>
        <div class="card shadow-sm rounded mb-3">
            <div class="card-body">
                <h6 class="card-title">Create the designs</h6>
            </div>
        </div>
        <div class="card shadow-sm rounded mb-3">
            <div class="card-body">
                <h6 class="card-title">Create the designs</h6>
            </div>
        </div>
        <div class="card shadow-sm rounded mb-3">
            <div class="card-body">
                <h6 class="card-title">Create the designs</h6>
            </div>
        </div>
    </div>
    <div class="col gx-1 bg-light pt-3">
        <h6 class="ml-2">To Do</h6>
        <div class="card shadow-sm rounded mb-3">
            <div class="card-body">
                <h6 class="card-title">Create the designs</h6>
            </div>
        </div>
        <div class="card shadow-sm rounded mb-3">
            <div class="card-body">
                <h6 class="card-title">Create the designs</h6>
            </div>
        </div>
        <div class="card shadow-sm rounded mb-3">
            <div class="card-body">
                <h6 class="card-title">Create the designs</h6>
            </div>
        </div>
    </div>
    <div class="col gx-1 bg-light pt-3">
        <h6 class="ml-2">In Progress</h6>
        <div class="card shadow-sm rounded mb-3">
            <div class="card-body">
                <h6 class="card-title">Create the designs</h6>
            </div>
        </div>
        <div class="card shadow-sm rounded mb-3">
            <div class="card-body">
                <h6 class="card-title">Create the designs</h6>
            </div>
        </div>
        <div class="card shadow-sm rounded mb-3">
            <div class="card-body">
                <h6 class="card-title">Create the designs</h6>
            </div>
        </div>
    </div>
</div>