@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import './../../../dragula.scss';


.board {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
}

.tasks {
    display: inline-block;
    width: 22rem;
    padding: 0 1rem 1rem 1rem;
    border-radius: 12px;
    vertical-align: top;
    margin-bottom: $grid-gutter-width;
    background-color: $gray-200;

    &.tasks:not(:last-child) {
        margin-right: 1.25rem;
    }

    .card {
        white-space: normal;
        margin-top: 1rem;
        border-radius: 12px;
    }

    .task-header {
        padding: 1rem;
    }
}

.task-list-items {
    min-height: 100px;
    position: relative;
    
    &::before {
        content: "No Tasks";
        position: absolute;
        line-height: 110px;
        width: 100%;
        text-align: center;
        font-weight: 600;
    }
}