<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink=''>
            <img [src]="['/assets/signin-thumbnail.jpg']" alt="" width="30" height="24"
                class="d-inline-block align-text-top rounded-pill">
            &nbsp;
            #<b>TaskBoard</b>
        </a>
        <div class="d-flex">
            <button class="btn btn-outline-light" routerLink="/signup">Get Started</button>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>