<div class="row" *ngIf="projects$ | async as projects">
    <h4 class="mb-4">Projects</h4>
    <div class="col-md-6" *ngFor="let project of projects | keyvalue">
        <div class="card shadow-sm" [routerLink]="[ project.key ]" style="border-radius: 12px; cursor: pointer;">
            <div class="card-body">
                <h5 class="card-title">{{ project.value.name }}</h5>
                <h6 class="card-subtitle text-muted d-inline">{{ project.value.description }}</h6>
            </div>
        </div>
    </div>
</div>